:where(.navigation-close) {
  pointer-events: auto;
  position: absolute;
  z-index: 3;
  bottom: calc(50% - 1.4rem);
  right: var(--size-xlarge);

  width: 2.8rem;
  aspect-ratio: 1;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: var(--size-5);
    height: 2px;
    background-color: var(--surface-1);
    transition: all .7s var(--ease-spring-3);
  }

  &::before {
    transform: translate(0, 0) rotate(0);
  }
  &::after {
    transform: translate(0, 0) rotate(0);
  }

  .blob-container {
    anchor-name: --navigation;
    position: absolute;
    inset: -1px;
    border-radius: 50%;
  }

  &:is(:hover,:focus-visible) {
    .blob-container {
      scale: 1.3;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:is(:focus-visible) {
      .blob-container {
        outline: 2px solid var(--accent);
        outline-offset: 2px;
        animation: AnimateOutline .2s var(--ease-3);
      }
    }
  }
}

:where(dialog.navigations) {
  &[open] {
    .navigation-close {
      &::before {
        transform: translate(0, 0) rotate(45deg);
      }
      &::after {
        transform: translate(0, 0) rotate(-45deg);
      }
      &::before, &::after {
        @starting-style {
          transform: translate(0, 0) rotate(0);
        }
      }
    }
  }

  &[data-closing] {
    .navigation-close {
      &::before {
        transform: translate(0, 0) rotate(0deg);
      }
      &::after {
        transform: translate(0, 0) rotate(0deg);
      }
    }
  }
}

:where(.testimonial-close) {
  pointer-events: auto;
  position: absolute;
  z-index: 3;
  left: calc(50% - 1.4rem);
  /* top: calc(50% - 1.4rem); */
  bottom: calc(var(--size-xlarge) + 2vh);

  width: 2.8rem;
  aspect-ratio: 1;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: var(--size-5);
    height: 2px;
    background-color: var(--surface-1);
    transition: all .7s var(--ease-spring-3);
  }

  &::before {
    transform: translate(0, 0) rotate(0);
  }
  &::after {
    transform: translate(0, 0) rotate(0);
  }

  .blob-container {
    anchor-name: --testimonial;
    position: absolute;
    inset: -1px;
    border-radius: 50%;
  }

  &:is(:hover,:focus-visible) {
    .blob-container {
      scale: 1.3;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:is(:focus-visible) {
      .blob-container {
        outline: 2px solid var(--accent);
        outline-offset: 2px;
        animation: AnimateOutline .2s var(--ease-3);
      }
    }
  }
}

:where(dialog.testimonials) {
  &[open] {
    .testimonial-close {
      &::before {
        transform: translate(0, 0) rotate(45deg);
      }
      &::after {
        transform: translate(0, 0) rotate(135deg);
      }
      &::before, &::after {
        @starting-style {
          transform: translate(0, 0) rotate(0);
        }
      }
    }
  }

  &[data-closing] {
    .testimonial-close {
      &::before {
        transform: translate(0, 0) rotate(0deg);
      }
      &::after {
        transform: translate(0, 0) rotate(0deg);
      }
    }
  }
}

:where(.button-fade-close) {
  --move-y: min(52vw, 32vh);
  position: absolute;
  z-index: 5;
  top: calc(50% - 1.4rem);
  left: calc(50% - 1.4rem);
  transform: translateZ(0);

  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  scale: 0;
  translate: 0 calc(var(--move-y) * -1);
  transition: all .7s var(--ease-spring-3);

  background-color: var(--fade-button-bg);
  border-radius: 50%;
  pointer-events: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: var(--size-5);
    height: 2px;
    background-color: var(--surface-0);
  }

  &::before {
    transform: translate(0, 0) rotate(45deg);
  }
  &::after {
    transform: translate(0, 0) rotate(-45deg);
  }
}


@media (max-width: 768px) and ((hover: none) or (pointer: coarse)) {
  :where(body:has(dialog [popover]:popover-open)) {
    .button-fade-close {
      pointer-events: auto;
      opacity: 1;
      scale: 1;
    }
  }
}
