:where(.navigation-close) {
  pointer-events: auto;
  position: absolute;
  z-index: 3;
  bottom: calc(50% - 1.4rem);
  right: var(--size-xlarge);

  width: 2.8rem;
  aspect-ratio: 1;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: var(--size-5);
    height: 2px;
    background-color: var(--surface-1);
    transition: all .7s var(--ease-spring-3);
  }

  &::before {
    transform: translate(0, 0) rotate(0);
  }
  &::after {
    transform: translate(0, 0) rotate(0);
  }

  .blob-container {
    anchor-name: --navigation;
    position: absolute;
    inset: -1px;
  }

  &:is(:hover,:focus-visible) {
    .blob-container {
      scale: 1.3;
    }
  }
}

:where(dialog.navigations[open]) {
  .navigation-close {
    &::before {
      transform: translate(0, 0) rotate(45deg);
    }
    &::after {
      transform: translate(0, 0) rotate(-45deg);
    }
    &::before, &::after {
      @starting-style {
        transform: translate(0, 0) rotate(0);
      }
    }
  }
}

:where(.testimonial-close) {
  pointer-events: auto;
  position: absolute;
  z-index: 3;
  left: calc(50% - 1.4rem);
  /* top: calc(50% - 1.4rem); */
  bottom: var(--size-xlarge);

  width: 2.8rem;
  aspect-ratio: 1;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: var(--size-5);
    height: 2px;
    background-color: var(--surface-1);
    transition: all .7s var(--ease-spring-3);
  }

  &::before {
    transform: translate(0, 0) rotate(0);
  }
  &::after {
    transform: translate(0, 0) rotate(0);
  }

  .blob-container {
    anchor-name: --testimonial;
    position: absolute;
    inset: -1px;
  }

  &:is(:hover,:focus-visible) {
    .blob-container {
      scale: 1.3;
    }
  }
}

:where(dialog.testimonials[open]) {
  .testimonial-close {
    &::before {
      transform: translate(0, 0) rotate(45deg);
    }
    &::after {
      transform: translate(0, 0) rotate(-45deg);
    }
    &::before, &::after {
      @starting-style {
        transform: translate(0, 0) rotate(0);
      }
    }
  }
}

:where(.button-fade-close) {
  position: absolute;
  z-index: 5;
  top: calc(50% - 1.4rem);
  left: calc(50% - 1.4rem);
  transform: translateZ(0);

  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  scale: 0;
  translate: 0 -52vw;
  transition: all .7s var(--ease-spring-3);

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: var(--size-5);
    height: 2px;
    background-color: light-dark(var(--stone-3), var(--stone-10));
  }

  &::before {
    transform: translate(0, 0) rotate(45deg);
  }
  &::after {
    transform: translate(0, 0) rotate(-45deg);
  }

  .bg{
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: light-dark(var(--stone-12), var(--stone-0));
    border-radius: 50%;
    pointer-events: none;
  }

  .rope {
    position: absolute;
    z-index: -1;
    width: 2px;
    height: 10vw;
    top: 2rem;
    left: calc(50% - 1px);
    background-color: light-dark(var(--stone-8), var(--stone-6));
    opacity: 0;
    scale: 1 0;
    transform-origin: top center;
    transition: scale .7s var(--ease-spring-3), opacity .7s var(--ease-spring-3);
  }
}


@media not all and (hover: hover) and (pointer: fine) {
  :where(body:has(dialog [popover]:popover-open)) {
    .button-fade-close {
      pointer-events: auto;
      opacity: 1;
      scale: 1;

      .rope {
        opacity: 1;
        scale: 1;
        transition-delay: 0.1s;
      }
    }
  }
}
