:where(.circle) {
  position: absolute;
  z-index: 2;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  .peoples {
    --space: min(25vw, 25vh);
    position: relative;
    z-index: 1;
    margin-block-end: calc(var(--size-xlarge) + 2vh);
    translate: 0 calc(50% - 1.4rem);

    width: 10rem;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    .people {
      --distance: calc(50% + ((var(--index) - 1) * 50%) / max(1, (var(--count) - 1)));
      --offset: clamp(1px, 1vw, 3px);
      --radius: var(--radius-round);

      pointer-events: auto;
      position: absolute;
      width: clamp(4rem, 8vw, 5rem);
      aspect-ratio: 1;
      border-radius: var(--radius);
      box-shadow: var(--shadow-3);

      transition: all .5s var(--ease-in-3);

      offset-path: circle(clamp(80px, 35vw, 200px) at 50% 50%);
      offset-rotate: 0deg;
      offset-distance: 40%;
      offset-anchor: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        pointer-events: none;
        border-radius: var(--radius);
        border: var(--offset) solid var(--text-dialog-header);
      }

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        display: block;
        border-radius: var(--radius);
      }

      &:is(:hover,:focus-visible) {
        scale: 1.1;

        img {
          border-color: var(--accent);
        }
      }

      &:hover::before {
        scale: 1.5;
      }
    }
  }
}

@keyframes move { to { offset-distance: 100%; } }

:where(dialog.testimonials) {
  &[open] {
    .peoples {
      .people {
        offset-distance: var(--distance);
        transition: all 1.2s var(--ease-spring-3);

        @starting-style {
          offset-distance: 40%;
        }
      }
    }
  }

  &[data-closing] {
    .peoples {
      .people {
        offset-distance: 40%;
        transition: all .5s var(--ease-in-3);
      }
    }
  }
}
