:where(.circle) {
  position: absolute;
  z-index: 2;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  h2 {
    pointer-events: none;
    width: max-content;
    font-size: var(--font-1);
    color: light-dark(var(--stone-0), var(--stone-12));
    font-weight: 700;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
    transition: opacity .4s var(--ease-out-1);
  }

  .peoples {
    --space: min(25vw, 25vh);
    position: relative;
    z-index: 1;
    margin-block-end: calc(var(--size-xlarge) + 2vh);
    translate: 0 calc(50% - 1.4rem);

    width: 10rem;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    .people {
      --distance: calc(50% + ((var(--index) - 1) * 50%) / max(1, (var(--count) - 1)));
      --offset: clamp(2px, 1vw, 4px);

      pointer-events: auto;
      position: absolute;
      width: clamp(4rem, 6vw, 5rem);
      aspect-ratio: 1;
      border-radius: 50%;
      box-shadow: var(--shadow-3);

      transition: all .5s var(--ease-in-3);

      offset-path: circle(clamp(80px, 35vw, 200px) at 50% 50%);
      offset-rotate: 0deg;
      offset-distance: 40%;
      offset-anchor: auto;

      img {
        max-width: 100%;
        display: block;
        pointer-events: none;
        border-radius: 50%;
        outline: var(--offset) solid var(--surface-4);
        outline-offset: calc(var(--offset) * -1);
      }

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        display: block;
        border-radius: 50%;
      }

      &:is(:hover,:focus-visible) {
        scale: 1.1;

        img {
          outline-color: var(--accent);
        }
      }

      &:hover::before {
        scale: 1.5;
      }
    }
  }
}

@keyframes move { to { offset-distance: 100%; } }

:where(dialog.testimonials[open]) {
  h2 {
    opacity: 1;
    transition: opacity .5s var(--ease-in-1);

    @starting-style {
      opacity: 0;
    }
  }

  .peoples {
    .people {
      offset-distance: var(--distance);
      transition: all 1s var(--ease-spring-3);

      @starting-style {
        offset-distance: 40%;
      }
    }
  }
}
