:where(.circle) {
  position: absolute;
  z-index: 2;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  .peoples {
    --space: min(25vw, 25vh);
    position: relative;
    z-index: 1;
    margin-block-end: calc(var(--size-xlarge) + 2vh);
    translate: 0 calc(50% - 1.4rem);

    width: 10rem;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    .people {
      --move: 0%;
      --distance: calc(50% + ((var(--index) - 1) * 50%) / max(1, (var(--count) - 1)) + var(--move));
      --offset: clamp(1px, 2vw, 4px);
      --radius: var(--radius-round);

      pointer-events: auto;
      position: absolute;
      width: clamp(4rem, 8vw, 5rem);
      aspect-ratio: 1;
      border-radius: var(--radius);
      box-shadow: var(--shadow-3);

      transition: all .5s var(--ease-in-3);

      offset-path: circle(clamp(80px, 35vw, 200px) at 50% 50%);
      offset-rotate: 0deg;
      offset-distance: 40%;
      offset-anchor: auto;
      background-image: linear-gradient(to bottom, var(--button-bg-top), var(--button-bg-bottom));
      backdrop-filter: blur(6px);
      box-shadow: 0 1px 1px var(--button-shadow-bottom), inset 0 1px 1px var(--button-shadow-top);

      /* background-color: var(--popover-bg);
      backdrop-filter: blur(5px);
      box-shadow: 0 2px 2px var(--popover-shadow-bottom), inset 0 1px 1px var(--popover-shadow-top); */

      img {
        width: calc(100% - calc(var(--offset) * 2));
        height: calc(100% - calc(var(--offset) * 2));
        margin: var(--offset);
        object-fit: cover;
        display: block;
        pointer-events: none;
        border-radius: var(--radius);
        /* var(--text-dialog-header) */
        /* border: var(--offset) solid transparent;  */
      }

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        display: block;
        border-radius: var(--radius);
      }

      &:is(:hover,:focus-visible) {
        scale: 1.1;
        
        img {
          border-color: var(--accent);
        }
      }
      &:is(:hover,:focus-visible) + .people {
        --move: 0.2%;
      }
      &:has(+ .people:is(:hover,:focus-visible)) {
        --move: -0.2%;
      }

      &:hover::before {
        scale: 1.5;
      }
    }
  }
}

@keyframes move { to { offset-distance: 100%; } }

:where(dialog.testimonials) {
  &[open] {
    .peoples {
      .people {
        offset-distance: var(--distance);
        transition: all 1.2s var(--ease-spring-3);

        @starting-style {
          offset-distance: 40%;
        }
      }
    }
  }

  &[data-closing] {
    .peoples {
      .people {
        offset-distance: 40%;
        transition: all .5s var(--ease-in-3);
      }
    }
  }
}
