:root {
  --surface-0: light-dark(var(--stone-4), var(--stone-12));
  --surface-1: light-dark(var(--stone-3), var(--stone-11));
  --surface-2: light-dark(var(--stone-2), var(--stone-10));
  --surface-3: light-dark(var(--stone-1), var(--stone-9));

  --text-0: light-dark(var(--stone-12), var(--stone-0));
  --text-1: light-dark(var(--stone-10), var(--stone-3));
  --text-2: light-dark(var(--stone-8), var(--stone-5));
  --text-3: light-dark(var(--stone-6), var(--stone-7));

  --text-dialog-header: light-dark(white, black);
  --fade-button-bg: light-dark(black, white);

  /* &[data-theme=dawn] {
    --surface-0: var(--stone-7);
    --surface-1: var(--stone-6);
    --surface-2: var(--stone-5);
    --surface-3: var(--stone-4);

    --text-0: var(--stone-12);
    --text-1: var(--stone-10);
    --text-2: var(--stone-8);
    --text-3: var(--stone-6);
  }
  &[data-theme=sunrise] {
    --surface-0: var(--stone-6);
    --surface-1: var(--stone-5);
    --surface-2: var(--stone-4);
    --surface-3: var(--stone-3);

    --text-0: var(--stone-12);
    --text-1: var(--stone-10);
    --text-2: var(--stone-8);
    --text-3: var(--stone-6);
  }
  &[data-theme=morning] {
    --surface-0: var(--stone-4);
    --surface-1: var(--stone-3);
    --surface-2: var(--stone-2);
    --surface-3: var(--stone-1);

    --text-0: var(--stone-12);
    --text-1: var(--stone-10);
    --text-2: var(--stone-8);
    --text-3: var(--stone-6);
  }
  &[data-theme=forenoon] {
    --surface-0: var(--stone-3);
    --surface-1: var(--stone-2);
    --surface-2: var(--stone-1);
    --surface-3: var(--stone-0);

    --text-0: var(--stone-11);
    --text-1: var(--stone-9);
    --text-2: var(--stone-7);
    --text-3: var(--stone-5);
  }
  &[data-theme=noon] {
    --surface-0: var(--stone-2);
    --surface-1: var(--stone-1);
    --surface-2: var(--stone-0);
    --surface-3: white;

    --text-0: var(--stone-11);
    --text-1: var(--stone-9);
    --text-2: var(--stone-7);
    --text-3: var(--stone-5);
  } */
}

:root {
  --button-bg: color-mix(in srgb, var(--surface-2), transparent 70%);
  --button-shadow-top: light-dark(white, var(--stone-8));
  --button-shadow-bottom: light-dark(var(--stone-5), var(--stone-12));
  
  --popover-bg: color-mix(in srgb, var(--surface-2), transparent 30%);
  --box-shadow-opacity: 70%;
  --popover-shadow-top: light-dark(white, var(--stone-9));
  --popover-shadow-bottom: color-mix(in srgb, var(--stone-12), transparent var(--box-shadow-opacity));
  
  --accent: light-dark(var(--cyan-6), var(--cyan-4));
  --accent-top: light-dark(var(--cyan-2), var(--cyan-1));
  --accent-bottom: light-dark(var(--cyan-9), var(--cyan-12));
  --icon-color: light-dark(var(--stone-8), var(--stone-5));
  
  --browser-bg: light-dark(#fff, #222);
  --searchbar-bg: light-dark(#EEE, #444);
  --browser-shadow-top: light-dark(white, var(--stone-8));
  --browser-shadow-bottom: light-dark(var(--stone-4), var(--stone-12));
}