:where(.popover-content) {
  --duration: 1.2s;

  position: fixed;
  margin: auto;
  margin-block-start: 0.75rem;
  border: none;
  padding: 0;
  inset: auto;
  pointer-events: auto;

  background-color: var(--popover-bg);
  backdrop-filter: blur(5px);
  box-shadow: 
    inset 0 -2px 2px var(--popover-shadow-bottom), inset 0 2px 2px var(--popover-shadow-top),
    var(--popover-shadow-1) 0px 25px 50px -15px, var(--popover-shadow-2) 0px 15px 30px -20px
  ;

  opacity: 0;
  transform: translate(0, 5vh) scale(0);
  @supports (position-area: bottom) {
    position-area: bottom;
  }

  border-radius: 30px;
  @supports (corner-shape: squircle) {
    border-radius: 60px;
    corner-shape: squircle;
  }

  @media (max-width: 600px) {
    box-shadow: inset 0 -1px 1px var(--popover-shadow-bottom), inset 0 1px 1px var(--popover-shadow-top);
  }

  &:popover-open {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    transition:
      opacity var(--duration) var(--ease-spring-3),
      transform var(--duration) var(--ease-spring-3);

    @starting-style {
      opacity: 0;
      transform: translate(0, 5vh) scale(0);
    }
  }

  @supports(animation-name: test-starting-style) {
    transition:
      opacity .15s var(--ease-in-1),
      transform .15s var(--ease-in-1),
      display .1s allow-discrete,
      overlay .1s allow-discrete;
  }
}

:where(.popover-content) {
  width: 90vw;
  max-width: 400px;
  padding: var(--size-3) var(--size-5) var(--size-4);
  /* position-anchor: --contact-popover; */
  transform-origin: top;

  & h2 {
    font-size: var(--font-3);
    font-weight: 500;
    color: var(--text-2);
  }

  & p {
    color: var(--text-1);
  }

  .link {
    margin-block: var(--size-2);

    & a {
      display: inline-block;
      text-decoration: none;
      color: var(--accent);
      position: relative;


      border-radius: 12px;
      @supports(corner-shape: squircle) {
        border-radius: 120px;
        corner-shape: squircle;
      }

      &:focus-visible {
        outline: 2px solid var(--accent);
        outline-offset: 4px;
        animation: AnimateOutline4 .2s var(--ease-3);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        scale: 0 1;
        opacity: 0;
        transform-origin: left center;
        height: 1rem;
        border-bottom: 3px double var(--accent);
        transition: scale .6s var(--ease-spring-3), opacity 0s linear .6s;
        overflow-y: clip;

      }

      &:hover::after {
        scale: 1;
        opacity: 1;
        transition: scale .6s var(--ease-spring-3), opacity 0s linear;
      }
    }
  }
}