:where(dialog, polyfill-dialog) {
  border: none;
  outline: none;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  h2 {
    pointer-events: none;
    width: max-content;
    font-size: var(--font-1);
    color: var(--text-dialog-header);
    font-weight: 700;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
    transition: opacity .4s var(--ease-out-1);
  }

  &[open] {
    h2 {
      opacity: 1;
      transition: opacity .5s var(--ease-in-1);

      @starting-style {
        opacity: 0;
      }
    }
  }

  &[data-closing] {
    h2 {
      opacity: 0;
    }
  }
}

:where(.navigations) {
  --delay: 0.5s;
  --bg-opacity: color-mix(in srgb, var(--surface-1), transparent 10%);
  background-color: transparent;
  overflow: clip;

  &::backdrop {
    opacity: 0;
    transition: opacity var(--delay) var(--ease-1);
    background-color: transparent;
    background-image: radial-gradient(circle at 100%, var(--surface-1) 0%, var(--bg-opacity) 60%, transparent 100%);
    /* background-image: 
      radial-gradient(transparent 1px, var(--surface-1) 1px),
      radial-gradient(circle at 100%, var(--accent-2) 0%, var(--bg-opacity) 60%, transparent 100%)
    ;
    background-size: 3px 3px, auto; */
  }

  &[open] {
    &::backdrop, .navigation-blob {
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }

  &[data-closing] {
    &::backdrop, .navigation-blob {
      opacity: 0;
    }
  }

  /* @supports(animation-name: test-starting-style) {
    transition:
      display var(--delay) allow-discrete,
      overlay var(--delay) allow-discrete;
  } */
}

:where(.navigation-blob) {
  position-anchor: --navigation;
  position: absolute;
  z-index: 1;
  top: anchor(top);
  left: anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);
  /* background-color: var(--accent); */

  transition: all .7s var(--ease-spring-3);
  border-radius: 50%;
  opacity: 0;

  background-color: var(--accent);
  box-shadow: 
    inset 0 -1px 1px var(--accent-bottom), inset 0 1px 1px var(--accent-top),
    var(--popover-shadow-1) 0px 15px 10px -5px, var(--popover-shadow-2) 0px 10px 15px -8px
  ;
  /* box-shadow: inset 0 2px 10px 0px var(--accent); */

  @media (max-width: 600px) {
    box-shadow: inset 0 -1px 1px var(--accent-bottom), inset 0 1px 1px var(--accent-top);
  }
}

:where(.testimonials) {
  --delay: 0.5s;
  --bg-opacity: color-mix(in srgb, var(--surface-1), transparent 10%);
  background-color: transparent;
  overflow: clip;

  &::backdrop {
    opacity: 0;
    background-color: transparent;
    transition: opacity var(--delay) var(--ease-1);
    background-image: radial-gradient(circle at center, transparent 0%, var(--bg-opacity) 40%, var(--surface-1) 100%);
    /* background-image: 
      radial-gradient(transparent 1px, var(--surface-1) 1px),
      radial-gradient(circle at center, transparent 0%, var(--bg-opacity) 40%, var(--accent-2) 100%)
    ;
    background-size: 3px 3px, auto; */
  }

  &[open] {
    &::backdrop, .testimonial-blob {
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }

  &[data-closing] {
    &::backdrop, .testimonial-blob {
      opacity: 0;
    }
  }

  /* @supports(animation-name: test-starting-style) {
    transition:
      display var(--delay) allow-discrete,
      overlay var(--delay) allow-discrete;
  } */
}

:where(.testimonial-blob) {
  position-anchor: --testimonial;
  position: absolute;
  z-index: 1;
  top: anchor(top);
  left: anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);
  background-color: var(--accent);

  transition: all .7s var(--ease-spring-3);
  border-radius: 50%;
  opacity: 0;

  background-color: var(--accent);
  box-shadow: 
    inset 0 -1px 1px var(--accent-bottom), inset 0 1px 1px var(--accent-top),
    var(--popover-shadow-1) 0px 15px 10px -5px, var(--popover-shadow-2) 0px 10px 15px -8px
  ;

  @media (max-width: 600px) {
    box-shadow: inset 0 -1px 1px var(--accent-bottom), inset 0 1px 1px var(--accent-top);
  }
}
