:where(dialog) {
  border: none;
  outline: none;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

:where(.navigations) {
  --delay: 0.5s;
  --bg: var(--surface-1);
  --bg-opacity: color-mix(in srgb, var(--bg), transparent 10%);
  background-color: transparent;
  overflow: clip;

  &::backdrop {
    opacity: 0;
    transition: opacity var(--delay) var(--ease-1);
    background-image: radial-gradient(circle at 100%, var(--bg) 0%, var(--bg-opacity) 60%, #0000 100%);
  }

  &[open] {
    &::backdrop, .nav-blob {
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }

  @supports(corner-shape: squircle) {
    transition:
      display var(--delay) allow-discrete,
      overlay var(--delay) allow-discrete;
  }
}

:where(.nav-blob) {
  position-anchor: --navigation;
  position: absolute;
  z-index: 1;
  top: anchor(top);
  left: anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);
  background-color: var(--accent);

  transition: all .7s var(--ease-spring-3);
  border-radius: 50%;
  opacity: 0;

  background-color: var(--accent);
  box-shadow: 0 1px 1px light-dark(var(--cyan-7), var(--cyan-11)), inset 0 1px 1px light-dark(var(--cyan-3), var(--cyan-6));
}

:where(.testimonials) {
  --delay: 0.5s;
  --bg: var(--surface-1);
  --bg-opacity: color-mix(in srgb, var(--bg), transparent 10%);
  background-color: transparent;
  overflow: clip;

  &::backdrop {
    opacity: 0;
    transition: opacity var(--delay) var(--ease-1);
    background-image: radial-gradient(circle at center, #0000 0%, var(--bg-opacity) 45%, var(--bg) 100%);
  }

  &[open] {
    &::backdrop, .testimonial-blob {
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }

  @supports(corner-shape: squircle) {
    transition:
      display var(--delay) allow-discrete,
      overlay var(--delay) allow-discrete;
  }
}

:where(.testimonial-blob) {
  position-anchor: --testimonial;
  position: absolute;
  z-index: 1;
  top: anchor(top);
  left: anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);
  background-color: var(--accent);

  transition: all .7s var(--ease-spring-3);
  border-radius: 50%;
  opacity: 0;

  background-color: var(--accent);
  box-shadow: 0 1px 1px light-dark(var(--cyan-7), var(--cyan-11)), inset 0 1px 1px light-dark(var(--cyan-3), var(--cyan-6));
}
