:where(footer) {
  --button-size: 0.75rem;

  .action-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;

    :where(.button-footer) {
      position: relative;
      z-index: 2;

      .dot {
        position: relative;
        z-index: -1;
        height: var(--button-size);
        aspect-ratio: 1;
        background-color: var(--text-muted);
        transition: scale .7s var(--ease-spring-3);
        border-radius: 100vh;
      }

      .text {
        font-size: 1rem;
      }

      &:is(:focus-visible) {
        .text {
          outline: 2px solid var(--accent-color);
          outline-offset: 4px;
        }
      }
    }
  }
}


@media (hover: hover) and (pointer: fine) {
  :where(.button-footer) {
    border-radius: 100vh;
    padding: 0.5rem;

    .text {
      position: absolute;
      z-index: 4;
      white-space: nowrap;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      padding: 0.5rem 1rem;

      color: var(--text-color);
      background-color: var(--surface-glass);
      backdrop-filter: blur(5px);
      border: 1px solid var(--surface-border);
      box-shadow: var(--shadow-1);

      border-radius: 100vh;
      scale: 0;
      transition: scale .1s var(--ease-1);
    }

    &:is(:hover,:focus-visible, &.hint-hover) {
      z-index: 5;

      .dot {
        scale: 0;
        transition: scale .1s var(--ease-1);
      }
      .text {
        scale: 1;
        transition: scale .7s var(--ease-spring-3);
      }
    }
  }
}

@media not all and (hover: hover) and (pointer: fine) {
  .action-list {
    gap: 0;
  }

  :where(li:first-child) {
    .button-footer {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -1px;
        translate: 0 -50%;
        width: 4px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--text-muted);
      }
    }
  }

  :where(.button-footer) {
    .dot {
      display: none;
    }
    .text {
      color: var(--text-muted);
      border-radius: 100vh;
      padding: 0.5rem 1rem;
    }
  }
}

