footer {
  position: fixed;
  z-index: 0;
  bottom: var(--size-large);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-3);

  .button-footer {
    position: relative;
    z-index: 2;

    .dot {
      position: relative;
      z-index: -1;
      height: 0.5rem;
      aspect-ratio: 2/1;
      background-color: var(--text-2);
      transition: scale .6s var(--ease-spring-3);
      border-radius: 100vh;
    }

    .text {
      position: absolute;
      z-index: 4;
      white-space: nowrap;
      bottom: 0;
      left: 50%;
      translate: -50% 0;
      padding: var(--size-2) var(--size-3);
      background-color: var(--surface-1);
      box-shadow: 0 1px 1px light-dark(var(--stone-5), var(--stone-12)), inset 0 1px 1px light-dark(white, var(--stone-8));
      color: var(--text-1);
      border-radius: 100vh;
      scale: 0;
      transform-origin: bottom center;
      transition: scale .1s var(--ease-1);
    }

    &:is(:hover,:focus-visible) {
      z-index: 5;

      .dot {
        scale: 0;
        transition: scale .1s var(--ease-1);
      }
      .text {
        scale: 1;
        transition: scale .6s var(--ease-spring-3);
      }
    }
  }
}