:where(header) {
  position: fixed;
  z-index: 2;
  inset: 0 0 auto;
  padding: var(--size-large) var(--size-xlarge);

  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.contacts {
  display: flex;
  justify-content: flex-start;

  @media (orientation: portrait) {
    /* anchor-name: --contact-popover; */
  }

  .container {
    anchor-name: --contact-heilight;
    padding-inline: var(--size-2);
    pointer-events: auto;

    .heilight {
      position-anchor: --contact-heilight;
      position: absolute;
      top: anchor(top);
      left: anchor(left);
      bottom: anchor(bottom);
      right: anchor(right);

      /* background-color: var(--button-bg); */
      background-image: linear-gradient(to bottom, var(--button-bg-top), var(--button-bg-bottom));
      box-shadow: 0 1px 1px var(--button-shadow-bottom), inset 0 1px 1px var(--button-shadow-top);

      transition: all .7s var(--ease-spring-3);

      border-radius: 12px;
      @supports(corner-shape: squircle) {
        border-radius: 60px;
        corner-shape: squircle;
      }
    }
  }

  .buttons-group {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;

    & li {

      /* @media (orientation: landscape) {
        anchor-name: --contact-popover;
        anchor-scope: --contact-popover;
      } */

      & button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--size-2) var(--size-3);

        border-radius: 12px;
        @supports(corner-shape: squircle) {
          border-radius: 120px;
          corner-shape: squircle;
        }

        &:hover {
          anchor-name: --contact-heilight;
        }

        &:focus-visible {
          anchor-name: --contact-heilight;
          outline: 2px solid var(--accent);
          outline-offset: 2px;
          animation: AnimateOutline .2s var(--ease-3);
        }
      }
    }
  }
}