:where(header) {
  --button-size: 0.75rem;

  .contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    anchor-name: --contect-popover;

    .contact-action {
      &::before {
        content: attr(data-text);
        display: block;
        color: var(--text-color);
        padding: 0.5rem;
        font-size: 1rem;

        /* transition: scale .6s var(--ease-spring-2); */
        transition: all .3s var(--ease-5);
      }

      /* @media (min-width: 30rem) {
        &::before {
          translate: 0 1.5rem;
        }
      } */
    }

    & li:has([popover]:popover-open) {
      .contact-action {
        &::before {
          scale: 3;
          opacity: 0;
        }

        &[data-text="GitHub"] {
          &::before {
            translate: 100% 1.75rem;
          }
        }
        &[data-text="LinkedIn"] {
          &::before {
            translate: 0 1.75rem;
          }
        }
        &[data-text="Email"] {
          &::before {
            translate: -100% 1.75rem;
          }
        }
      }
    }
  }
}

:where(.hover-popover) {
  width: 90vw;
  max-width: 26rem;
  padding: var(--popvoer-padding);

  border-radius: 30px;
  @supports(corner-shape: squircle) {
    border-radius: 60px;
    corner-shape: squircle;
  }

  & h2 {
    display: block;
    text-align: center;
    font-size: var(--font-2);
    color: var(--text-color);
    line-height: 1;
    font-weight: 600;

    &::first-letter {
      color: var(--text-color);
      font-weight: 700;
    }
  }

  & p {
    display: block;
    text-align: center;
    margin-block-start: 0.5rem;
    color: var(--text-color);
  }

  .link {
    margin-block-start: 0.75rem;
    text-align: center;

    & a {
      display: inline-block;
      text-decoration: none;
      color: var(--text-color);
      position: relative;
      padding: 0.5rem 1rem;

      border: 2px solid var(--text-color);
      box-shadow: 0 2px 0 var(--text-color);
      transition: all .3s var(--ease-3);

      border-radius: 12px;
      @supports(corner-shape: squircle) {
        border-radius: 24px;
        corner-shape: squircle;
      }

      &:is(:hover) {
        box-shadow: 0 4px 0 var(--text-color);
        translate: 0 -2px;
      }

      &:is(:active) {
        box-shadow: 0 0 0 var(--text-color);
        translate: 0 2px;
      }

      &:is(:focus-visible) {
        outline: 2px solid var(--text-color);
        outline-offset: 2px;
        translate: 0 2px;
        box-shadow: 0 0 0 var(--text-color);
      }

      /* &:focus-visible {
        outline: 2px solid var(--text-color);
        outline-offset: 4px;
        animation: AnimateOutline4 .2s var(--ease-3);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        scale: 0 1;
        opacity: 0;
        transform-origin: center center;
        height: 1rem;
        border-bottom: 3px double var(--text-color);
        transition: scale .6s var(--ease-spring-3), opacity 0s linear .6s;
        overflow-y: clip;
      }

      &:hover::after {
        scale: 1;
        opacity: 1;
        transition: scale .6s var(--ease-spring-3), opacity 0s linear;
      } */
    }
  }
}

/* :where(.contact-action) {
  &:is(:focus-visible) {
    :where(.hover-popover) {
      outline: 2px solid var(--text-color);
      outline-offset: 4px;
    }
  }
} */

@media (max-width: 38rem) {
  :where(.hover-popover) {
    & h2 {
      display: block;
      text-align: center;
    }

    & p {
      display: block;
      text-align: center;
      margin-block-start: 0.5rem;
    }

    .link {
      text-align: center;
    }
  }
}

/* @media not all and (hover: hover) and (pointer: fine) {
  :where(header) {
    --button-size: 1rem;
  }
} */
