:where(main) {
  width: 100%;
  height: 100%;

  padding: var(--padding-2) var(--padding-4);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: var(--surface-1);

  clip-path: circle(0% at 50% 50%);
  animation: var(--spalash-screen);
  animation-delay: 1s;

  .intro-message {
    /* outline: 1px dotted hotpink; */

    @media (orientation: landscape) {
      position: relative;

      & > * {
        position: relative;
      }
    }

    & > * {
      position: relative;
      z-index: 1;
    }

    h1 {
      display: block;
      font-size: var(--font-1);
      font-weight: 700;
      line-height: 1.1;
      position: relative;
      z-index: 2;
      
      :where(& > span) {
        color: var(--text-muted);
      }
      
      :where(em) {
        font-style: normal;
      }

      & span[data-effect="text-hover"] {
        /* --shadow-color: var(--text-color); */
        color: var(--accent-color);
      }

      @media (prefers-color-scheme: dark) {
        mix-blend-mode: plus-lighter;
      }
    }

    p {
      display: block;
      margin-block-start: clamp(1rem, max(4vh, 4vw), 3rem);
      max-width: 30rem;
      text-shadow: 0 0 2px var(--surface-1);
    }
  }
}