:where(nav) {
  --accent-top: light-dark(var(--cyan-2), var(--cyan-1));
  --accent-bottom: light-dark(var(--cyan-9), var(--cyan-12));
  position: fixed;
  z-index: 3;
  inset: 0;
  padding: var(--size-large) var(--size-xlarge);
  pointer-events: none;

  &:has(.wheel[open]) {
    .nav-blob {
      background-color: var(--accent);
      box-shadow: 0 1px 1px var(--accent-bottom), inset 0 1px 1px var(--accent-top);
    }
  }

  [popover] {
    --duration: .6s;

    position: fixed;
    border: none;
    /* background-color: var(--surface-4);
    box-shadow: 0 1px 2px light-dark(var(--stone-5), var(--stone-11)), inset 0 1px 2px light-dark(white, var(--stone-7)); */

    opacity: 0;
    transform: scale(0.8) rotate(0deg);

    &:popover-open {
      pointer-events: auto;
      opacity: 1;
      scale: 1;

      opacity: 1;
      transform: scale(1) rotate(var(--degree));
      transition:
        opacity var(--duration) var(--ease-spring-3),
        transform var(--duration) var(--ease-spring-3);
        
      @media not all and (hover: hover) and (pointer: fine) {
        transition-delay: 0.1s;
      }

      @starting-style {
        opacity: 0;
        transform: scale(0.8) rotate(0deg);
      }
    }

    @supports (animation-name: test-starting-style) {
      --duration: 1s;
      transition:
        opacity .15s var(--ease-in-1),
        transform .15s var(--ease-in-1),
        display .15s allow-discrete,
        overlay .15s allow-discrete;
    }
  }
}

:where(.nav-blob) {
  position-anchor: --navigation;
  position: absolute;
  z-index: 1;
  top: anchor(top);
  left: anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);
  background-color: var(--accent);

  transition: all .7s var(--ease-spring-3);
  border-radius: 50%;

  /* background-color: var(--accent);
  box-shadow: 0 1px 1px light-dark(var(--cyan-7), var(--cyan-11)), inset 0 1px 1px light-dark(var(--cyan-3), var(--cyan-6)); */

  background-color: transparent;
  box-shadow: 0 1px 1px light-dark(var(--stone-5), var(--stone-12)), inset 0 1px 1px light-dark(var(--stone-0), var(--stone-8));
}
