:where(.project) {
  --padding: clamp(.5rem, 3vw, 1rem);
  --duration: 1.2s;
  position: fixed;
  z-index: 2;
  inset: 0;
  margin: auto;

  height: auto;
  max-width: auto;
  max-height: auto;
  padding: var(--padding);
  overflow: auto;

  align-self: center;
  justify-self: center;

  @media (orientation: landscape) {
    width: 90vh;
  }
  @media (orientation: portrait) {
    width: max(30rem, 95vw);
  }
  @media (max-width: 600px) {
    width: 100vw;
  }

  /* background-color: light-dark(var(--stone-2), var(--stone-11));
  box-shadow: 0 2px 2px light-dark(var(--stone-4), var(--stone-12)), inset 0 1px 1px light-dark(white, var(--stone-9)); */

  background-color: color-mix(in srgb, var(--surface-3), transparent 60%);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 2px light-dark(var(--stone-5), var(--stone-12)), inset 0 1px 1px light-dark(white, var(--stone-9));

  border-radius: 30px;
  @supports(corner-shape: squircle) {
    border-radius: 50px;
    corner-shape: squircle;
  }

  opacity: 0;
  transform: translate(0, -5vh) scale(0.5) rotate(0deg);

  &:popover-open {
    opacity: 1;
    transform: translate(0, 0) scale(1) rotate(var(--degree));
    transition:
      opacity var(--duration) var(--ease-spring-3),
      transform var(--duration) var(--ease-spring-3);

    @starting-style {
      opacity: 0;
      transform: translate(0, -5vh) scale(0.5) rotate(calc(var(--degree) * -3));
    }
  }

  @supports (animation-name: test-starting-style) {
    transition:
      opacity .15s var(--ease-in-1),
      transform .15s var(--ease-in-1),
      display .15s allow-discrete,
      overlay .15s allow-discrete;
  }
}


:where(.browser) {
  --control: 10px;
  width: 100%;
  overflow: clip;
  background-color: light-dark(#fff, #333);
  box-shadow: 0 1px 1px light-dark(var(--stone-4), var(--stone-12)), inset 0 1px 1px light-dark(white, var(--stone-9));

  border-radius: 15px;
  @supports(corner-shape: squircle) {
    border-radius: 25px;
    corner-shape: squircle;
  }

  .bar {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--size-2);

    .controls {
      display: flex;
      gap: calc(var(--control) * 0.5);

      & > div {
        width: var(--control);
        aspect-ratio: 1;
        border-radius: 50%;

        &.red {
          background-color: rgb(236,103,101);
        }
        &.yellow {
          background-color: rgb(242,202,68);
        }
        &.green {
          background-color: rgb(101,196,102);
        }
      }
    }

    .search-bar {
      height: 20px;
      background-color: light-dark(#EEE, #444);

      border-radius: 5px;
    }
  }

  .content {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;

    &.overscroll {
      & img {
        display: block;
      }

      /* &:hover {
        animation: pageScroll 8s linear infinite;
      } */

      overflow-y: auto;

      scrollbar-width: thin;
      scrollbar-color: var(--accent) transparent;

      &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--accent);
        border-radius: 999px;
      }
    }

    & img {
      width: 100%;
      height: auto;
    }
  }
}

:where(.project-info) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--size-1);
  margin-block-end: var(--size-2);

  & h4 {
    font-size: var(--font-3);
    color: var(--text-2);
    font-weight: 500;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    gap: var(--size-1);
  }

  .tech-stacks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--size-3);

    .logo {
      width: 2rem;
      aspect-ratio: 1;
      display: grid;
      place-content: center;
      border-radius: 4px;

      img {
        max-width: 100%;
        max-height: 100%;
        display: block;
      }

      &:is(:focus-visible) {
        outline: 2px solid var(--accent);
        outline-offset: 2px;
        animation: AnimateOutline .2s var(--ease-3);
      }
    }
  }
}

@keyframes mouseMove {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -1rem;
  }
}