:where(.project) {
  --padding: clamp(.5rem, 2vw, 1.5rem);
  --duration: 1s;
  --degree: var(--random);

  height: auto;
  max-width: auto;
  max-height: auto;
  padding: var(--padding);
  overflow: auto;

  align-self: center;
  justify-self: center;

  box-shadow: var(--shadow-2);

  border-radius: 35px;
  @supports(corner-shape: squircle) {
    border-radius: 70px;
    corner-shape: squircle;
  }

  @media (orientation: landscape) {
    width: 100vh;
  }
  @media (orientation: portrait) {
    width: max(30rem, 95vw);
  }
  @media (max-width: 38rem) {
    width: 100vw;
  }
}

/* @supports (rotate: random(0deg, 10deg)) {
  .project {
    --degree: random(-7deg, 7deg);
  }
}

@supports not (rotate: random(0deg, 10deg)) {
  .project {
    --degree: var(--random);
  }
} */

:where(.browser) {
  --control: 10px;
  width: 100%;
  overflow: clip;
  /* background-color: var(--browser-bg); */
  clip-path: polygon(0 0, 40% 0, 2% 100%, 8% 100%, 46% 0, 100% 0, 100% 100%, 0 100%);
  border: 2px solid var(--accent-color);
  position: relative;

  /* -webkit-mask-image: url("/masks/paper-cut.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: center;

  mask-image: url("/masks/paper-cut.svg");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-position: center; */

  border-radius: 25px;
  @supports(corner-shape: squircle) {
    border-radius: 50px;
    corner-shape: squircle;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 5;
    inset: 0;
    background-color: var(--accent-color);
  }

  &::before {
    clip-path: polygon(calc(40% - 4px) 0, 40% 0, 2% 100%, calc(2% - 3px) 100%);
  }
  &::after {
    /* clip-path: polygon(46% 0, calc(46% + 2px) 0, calc(8% + 2px) 100%, 8% 100%); */
    clip-path: polygon(calc(46% - 2px) 0, calc(46% + 1px) 0, calc(8% + 2px) 100%, calc(8% - 2px) 100%);
  }

  .bar {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.75rem;

    .controls {
      display: flex;
      gap: calc(var(--control) * 0.5);

      & > div {
        width: var(--control);
        aspect-ratio: 1;
        border-radius: 50%;

        &.red {
          background-color: rgb(236,103,101);
        }
        &.yellow {
          background-color: rgb(242,202,68);
        }
        &.green {
          background-color: rgb(101,196,102);
        }
      }
    }

    .search-bar {
      height: 20px;
      /* background-color: var(--searchbar-bg); */
      border: 2px solid var(--accent-color);

      border-radius: 5px;
    }
  }

  .content {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;

    border-radius: 0 0 15px 15px;
    @supports(corner-shape: squircle) {
      border-radius: 0 0 25px 25px;
      corner-shape: squircle;
    }

    /* &::before {
      position: absolute;
      content: 'loading...';
      inset: 50% 50% auto auto;
      translate: 50% -50%;
      color: var(--accent-color);
    } */

    & picture > img {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

  }
}

:where(.project-info) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.25rem;
  margin-block-end: 0.5rem;

  & h4 {
    font-size: var(--font-2);
    color: var(--text-color);
    font-weight: 600;

    &::first-letter {
      color: var(--accent-color);
      font-weight: 700;
    }
  }

  @media (max-width: 38rem) {
    flex-direction: column;
    gap: 0.25rem;
  }

  .tech-stacks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    border: 2px solid var(--accent-color);
    border-radius: 100vh;

    .logo {
      padding: 0.3rem 0.75rem;
      &:not(:last-child) {
        border-right: 2px solid var(--accent-color);
      }

      &:is(:focus-visible) {
        outline: 2px solid var(--accent-color);
        outline-offset: 2px;
        animation: AnimateOutline .2s var(--ease-3);
      }
    }
  }
}

:where([data-popover]) {
  position: relative;

  & img {
    display: block;
    width: 1.5rem;
    aspect-ratio: 1;
    object-fit: contain;
  }

  .tech-logo {
    transition: scale .6s var(--ease-spring-2);
  }

  .logo-popover {
    position: absolute;
    right: 50%;
    top: 50%;
    translate: 50% calc(-50% - 1px);
    rotate: calc(var(--degree) * -1);

    display: none;
    pointer-events: none;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0.2rem;
    border-radius: 100vh;
    background-color: var(--surface);
    border: 2px solid var(--accent-color);
    box-shadow: var(--shadow-1);
    transition:
      scale .6s var(--ease-spring-2),
      pointer-events 0s linear;
    transition-behavior: allow-discrete;

    color: var(--text-color);
    text-decoration: none;

    .logo-avatar {
      aspect-ratio: 1;
      border-radius: 50%;
      padding: 0.3rem;
      background-color: var(--surface);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo-name {
      padding-inline: 0.5rem;
      white-space: nowrap;
    }
  }

  &:is(:hover,:focus-visible) {
    z-index: 3;

    .tech-logo {
      scale: 0;
    }

    .logo-popover {
      display: grid;
      scale: 1;
      transition-delay: 0s, .6s;
      pointer-events: auto;

      @starting-style {
        scale: 0;
      }

      .logo-avatar {
        transition: translate .3s var(--ease-2);
        @starting-style {
          translate: 100% 0;
        }
      }
    }
  }
}

:where([data-hoverlink]) {
  position: relative;
  --text-color: light-dark(var(--accent-color), var(--surface));

  .link-popover {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    rotate: calc(var(--degree) * -1);

    display: grid;
    pointer-events: none;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0.2rem;
    border-radius: 100vh;
    background-color: white;
    border: 2px solid light-dark(var(--accent-color), var(--surface));
    box-shadow: 0px 2px 0 light-dark(var(--accent-color), var(--surface));
    scale: 0;
    transition: all .2s var(--ease-2);

    color: var(--text-color);
    text-decoration: none;

    .link-avatar {
      aspect-ratio: 1;
      border-radius: 50%;
      padding: 0.5rem;
      background-color: var(--surface);
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 1.25rem;
      }
    }

    .link-name {
      padding-inline: 0.5rem;
      white-space: nowrap;
    }

    &:is(:hover) {
      box-shadow: 0px 4px 0 light-dark(var(--accent-color), var(--surface));
      translate: -50% calc(-50% - 2px);
    }
    &:is(:focus-visible) {
      box-shadow: 0 0 0 light-dark(var(--accent-color), var(--surface));
      translate: -50% -50%;
      outline: 2px solid light-dark(var(--accent-color), var(--surface));
      outline-offset: 2px;
    }
    &:is(:active) {
      box-shadow: 0px 0px 0 light-dark(var(--accent-color), var(--surface));
      translate: -50% calc(-50% + 2px);
    }
  }

  &:is(:hover,:focus-visible) {
    .link-popover {
      scale: 1;
      pointer-events: auto;
      transition: all .3s var(--ease-3), scale .6s var(--ease-spring-2);

      .link-avatar {
        transition: translate .3s var(--ease-2);
        @starting-style {
          translate: 100% 0;
        }
      }
    }
  }
}

@media (min-width: 38rem) {
  [data-popover=left] {
    .logo-popover {
      translate: 1.5rem -50%;
      transform-origin: 80% 50%;
    }
  }
}

/* @media (hover: hover) and (pointer: fine) {
  .tech-stacks {
    gap: 1.5rem;
  }
  .logo[data-popover] {
    .tech-logo {
      width: 0.75rem;
      aspect-ratio: 1;
      background-color: var(--text-color);
      border-radius: 50%;

      & img {
        display: none;
      }
    }
  }
} */
