
.smoke {
  position:absolute;
  inset:0;
  display:grid;
  place-items:center;
  pointer-events:none;
}

.smoke > span {
  position:absolute;
  opacity:0;
  color: var(--text-dialog-header);
  transform: translate(0, 0) scale(1);
  filter: blur(0px);
  /* slight stagger */
  animation-delay: calc(var(--i) * 0.1s);
}

@media (hover: hover) and (pointer: fine) {
  /* , button:focus-visible */
  :is(button:hover) {
    .smoke > span {
      animation: smokeUp 1.5s var(--ease-out-1);
      animation-delay: calc(var(--i) * 0.1s);
    }
  }
}

@keyframes smokeUp{
  0%, 10% {
    opacity:0;
    transform: translate(0, 0) rotate(0deg) scale(1);
    filter: blur(0px);
  }
  20% { opacity:1; }
  100% {
    opacity:0;
    transform:
      translate(calc((var(--i) - 2.5) * 5px), -100px)
      rotate(calc((var(--i) - 2.5) * -30deg))
      scale(1);
      filter: blur(1px);
  }
}