:where(.theme-changer) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;

  cursor: pointer;
  /* display: none; */

  height: 0.5em;
  aspect-ratio: 2.4/1;
  border-radius: 100vh;
  margin-inline-start: 0.5rem;
  transition: scale .6s var(--ease-spring-2);

  & svg {
    width: max(0.75em, 2rem);
    height: max(0.75em, 2rem);
    display: none;
  }

  /* background-color: var(--text-muted); */
  clip-path: polygon(0 0, 60% 0, 35% 100%, 40% 100%, 65% 0, 100% 0, 100% 100%, 0 100%);

  &::before, &::after {
    content: '';
    display: block;
    background-color: var(--text-muted);
    position: absolute;
  }

  &::before {
    height: 100%;
    aspect-ratio: 1.5/1;
    border-radius: 100vh;
  }

  &::after {
    width: 100%;
    height: 0.25rem;
    border-radius: 100vh;
  }
}

:where(.theme-picker) {
  padding: 0.1rem;

  border-radius: 0.85rem;
  @supports(corner-shape: squircle) {
    border-radius: 4rem;
    corner-shape: squircle;
  }

  .range {
    min-width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & input[type=range] {
      writing-mode: vertical-lr;
      direction: rtl;
      appearance: none;
      height: 20rem;
      cursor: pointer;
      margin: 0;

      --top: calc(50% - 1px);
      --bottom: calc(50% + 1px);
      --lines: 36;

      &::-webkit-slider-thumb {
        appearance: none;
        width: 3rem;
        height: 1.5rem;
        /* scale: 1.5; */
        background-color: white;
        box-shadow: var(--shadow-0);
        cursor: row-resize;
        /* clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 var(--top), 99% var(--top), 100% var(--bottom), 0 var(--bottom), 0 100%, 100% 100%, 100% 0%); */
        border-radius: 0.6rem;
        @supports(corner-shape: squircle) {
          border-radius: 2rem;
          corner-shape: squircle;
        }
      }

      &::-webkit-slider-runnable-track {
        background-image:
          /* repeating-linear-gradient(
            to top,
            white 0 1px,
            transparent 1px calc((100% - 1px) / (var(--lines) - 1))
          ), */
          linear-gradient(
            to top,
            oklch(0.72 0.22 0) 0%,
            oklch(0.72 0.22 60) 16.67%,
            oklch(0.72 0.22 120) 33.33%,
            oklch(0.72 0.22 180) 50%,
            oklch(0.72 0.22 240) 66.67%,
            oklch(0.72 0.22 300) 83.33%,
            oklch(0.72 0.22 360) 100%
          )
        ;
        border-radius: 0.75rem;
        @supports(corner-shape: squircle) {
          border-radius: 2rem;
          corner-shape: squircle;
        }


        /* background-image: conic-gradient(
          in oklch increasing hue,
          oklch(from red l c 0deg) 0deg,
          oklch(from red l c 180deg) 180deg,
          oklch(from red l c 360deg) 360deg
        ); */

      }
    }
  }
}

:root:has(.theme-picker:popover-open) {
  .theme-changer {
    scale: 0;
    transition: scale .2s var(--ease-5);
  }
}
