@import "open-props/palette";
@import "open-props/cyan";

:root {
  --palette-hue: 0;
  --palette-hue-rotate-by: 0;
  --palette-chroma: 0;


  --surface-1: light-dark(var(--color-1), var(--color-16));
  --surface-2: light-dark(var(--color-1), var(--color-13));
  --surface-3: light-dark(white, var(--color-12));

  --text-1: light-dark(var(--color-15), var(--color-1));
  --text-2: light-dark(var(--color-13), var(--color-3));
  --text-3: light-dark(var(--color-12), var(--color-4));
  --text-4: light-dark(var(--color-8), var(--color-8));
  --text-muted: light-dark(var(--color-6), var(--color-12));

  --icon-color: var(--text-3);

  --border-top: light-dark(white, var(--color-6));
  --border-bottom: light-dark(var(--color-5), var(--color-12));

  --accent-color: light-dark(var(--cyan-6), var(--cyan-4));
  --accent-light: color-mix(in srgb, var(--accent-color), white 70%);
  --accent-dark: color-mix(in srgb, var(--accent-color), white 40%);
  --accent-1: light-dark(var(--accent-light), var(--accent-dark));

  --text-dialog-header: light-dark(white, black);
  --fade-button-bg: light-dark(black, white);

  --browser-bg: light-dark(#fff, #333);
  --searchbar-bg: light-dark(#EEE, #555);
  --browser-shadow-top: light-dark(white, var(--color-10));
  --browser-shadow-bottom: light-dark(var(--color-4), var(--color-16));

  --shadow-1: 0px 4px 12px light-dark(var(--color-4), var(--color-16));
  --shadow-2: 0px 8px 24px light-dark(var(--color-4), var(--color-16));
}