.range-color-picker:has(.theme-picker:popover-open) {
  .theme-changer {
    scale: 0.5;
    opacity: 0;
    transition: scale .2s var(--ease-5), opacity .2s var(--ease-5);
  }
}

:where(.range-color-picker) {
  display: inline-block;
  position: relative;
  line-height: 0;
  translate: -1px 0;

  .ring-opener {
    anchor-name: --ring-opener;
    width: 0.55em;
    --ring: 0.145em;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--accent-color);
    transition: scale .3s var(--ease-3), opacity 0.2s var(--ease-5);


    background-image: conic-gradient(
      in oklch increasing hue,
      oklch(from red l c 0deg) 0deg,
      oklch(from red l c 180deg) 180deg,
      oklch(from red l c 360deg) 360deg
    );

    /* -webkit-mask: radial-gradient(circle, transparent 0 8rem, #000 0); */
    mask: radial-gradient(circle, transparent 0 var(--ring), #000 0);
  }

  .color-picker-container {
    --size: 10rem;
    --ring: 3rem;
    position-anchor: --ring-opener;

    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    transition: scale .7s var(--ease-spring-2), opacity .3s var(--ease-5);
    box-shadow: var(--shadow-1), inset 0 0 0 calc(2rem + 1px) var(--surface-1), inset 0 0 1rem 2.5rem var(--color-4);
    padding: 1px;
    
    
    .color-picker {
      /* opacity: 0; */
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
      
      background-image: conic-gradient(
        in oklch increasing hue,
        oklch(from red l c 0deg) 0deg,
        oklch(from red l c 180deg) 180deg,
        oklch(from red l c 360deg) 360deg
      );
  
      /* -webkit-mask: radial-gradient(circle, transparent 0 8rem, #000 0); */
      mask: radial-gradient(circle, transparent 0 var(--ring), #000 0);
    }
    
    .nob-container {
      position: absolute;
      inset: 0;
      pointer-events: none;

      display: flex;
      justify-content: center;
      align-items: center;
      rotate: -90deg;
      .nob {
        pointer-events: auto;
        cursor: grab;
        width: 2rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--accent-color);
        border: 2px solid white;
        position: absolute;
        offset-path: circle(calc(50% - 1rem - 1px) at 50% 50%);
        offset-rotate: 0deg;
        offset-distance: 0%;
        box-shadow: var(--shadow-0);

        &:is(:focus-visible) {
          outline: 2px solid black;
          outline-offset: 0px;
        }
      }
    }
  }
}

:where(.range-color-picker) {
  &:has([popover]:popover-open) {
    .ring-opener {
      scale: 3;
      opacity: 0;
    }
  }
}
