
:where(.wheel) {
  --step: calc(76deg / var(--count));
  --offset: calc((var(--count) - 1) / 2);
  --degree: 0deg;
  --bg: var(--surface-1);
  --bg-opacity: color-mix(in srgb, var(--bg), transparent 10%);
  --move-x: min(35vw, 35vh);
  --wheel-font-size: clamp(3rem, 7vw, 5rem);

  @media (orientation: portrait) {
    --step: calc(90deg / var(--count));
  }

  position: absolute;
  z-index: 0;
  inset: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  .wheel-item {
    position: absolute;
    z-index: 2;
    right: 0;
    padding-inline-end: min(55vw, 50vh);
    transform-origin: right center;
    white-space: nowrap;
    transform: translate(var(--move-x), 0) rotate(var(--degree));
    opacity: 0;
    transition: transform 1s var(--ease-spring-3), opacity .25s var(--ease-1);
    display: flex;
    align-items: baseline;
    font-size: var(--wheel-font-size);

    /* outline: 1px dotted hotpink; */

    & button {
      --line-width: 1px;
      --xy: calc(var(--line-width) * 2);
      --stroke-color: light-dark(var(--stone-8), var(--stone-6));
      --fill-color: color-mix(in srgb, var(--surface-1), transparent 90%);
      font-weight: 700;
      color: var(--text-2);
      display: block;

      transform-origin: right center;
      transition: transform 1.2s var(--ease-spring-3);
      
      @media (min-width: 992px) {
        --line-width: 2px;
      }
      
      /* position: relative;
      &::after {
        content: '';
        position: absolute;
        z-index: 2;
        inset: 0;
        background-color: #f00;
      } */

      & > span {
        display: inline-block;
        width: .6em;
        text-align: center;
        pointer-events: none;
        line-height: inherit;
      }

      &:is(:hover,:focus-visible) {
        transform: scale(1.2);
        color: var(--accent);
        text-shadow: 0 1px 1px var(--accent-bottom), 0 -1px 1px var(--accent-top);
      }

      /* &:focus-within {
        color: var(--accent);
      } */
    }

    .anchor {
      position: relative;
      width: .6em;
      translate: 0.25rem 0.05em;
      display: inline-block;
      aspect-ratio: 1;
      rotate: calc(var(--degree) * -1);
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  :where(.wheel-item) {
    &:has(button:hover, button:focus-visible) {
      @supports (corner-shape: squircle) {
        .anchor {
          anchor-name: --navigation;
        }
      }
    }
  }
}

:where(dialog.navigations) {
  &[open] {
    .wheel-item {
      opacity: 1;
      --degree: calc(((var(--index) - 1) - var(--offset)) * var(--step) * -1);
  
      @starting-style {
        transform: translate(var(--move-x), 0) rotate(0deg);
        opacity: 0;
      }
    }
  }

  &[data-closing] {
    .wheel-item {
      opacity: 0;
      --degree: 0deg;
    }
  }
}
