
:where(.wheel) {
  --step: calc(74deg / var(--count));
  --offset: calc((var(--count) - 1) / 2);
  --degree: 0deg;
  --bg: var(--surface-1);
  --bg-opacity: color-mix(in srgb, var(--bg), transparent 10%);
  --move-x: min(35vw, 35vh);

  position: absolute;
  z-index: 0;
  inset: 0;

  transition: opacity .4s ease-in-out;
  background: radial-gradient(circle at 100%, var(--bg) 0%, var(--bg-opacity) 60%, #0000 100%);

  opacity: 0;
  pointer-events: none;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  h2 {
    pointer-events: none;
    width: max-content;
    font-size: var(--font-1);
    color: light-dark(var(--stone-0), var(--stone-12));
    font-weight: 700;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
    transition: opacity .4s ease-in-out;
  }

  &[open] {
    opacity: 1;
    pointer-events: auto;

    h2 {
      opacity: 1;
    }

    .wheel-item {
      opacity: 1;
      --degree: calc(((var(--index) - 1) - var(--offset)) * var(--step) * -1);

      @starting-style {
        transform: translate(var(--move-x), 0) rotate(0deg);
        opacity: 0;
      }
    }
  }

  .wheel-item {
    position: absolute;
    z-index: 2;
    right: 0;
    padding-inline-end: min(50vw, 50vh);
    transform-origin: right center;
    white-space: nowrap;
    transform: translate(var(--move-x), 0) rotate(var(--degree));
    opacity: 0;
    transition: transform 1s var(--ease-spring-3), opacity 1s var(--ease-spring-3);
    display: flex;
    align-items: baseline;
    font-size: var(--font-2);
    /* font-family: var(--font-mono); */

    &:has(button:hover) {
      .anchor {
        anchor-name: --navigation;
      }
    }

    & button {
      --line-width: 1px;
      --xy: calc(var(--line-width) * 2);
      --stroke-color: light-dark(var(--stone-8), var(--stone-6));
      --fill-color: color-mix(in srgb, var(--surface-1), transparent 90%);
      font-weight: 700;
      color: var(--text-2);

      transform-origin: right center;
      transition: transform 1s var(--ease-spring-3);

      @media (min-width: 992px) {
        --line-width: 2px;
      }

      & > span {
        display: inline-block;
        width: .55em;
        text-align: center;
      }

      &:hover {
        transform: scale(1.2);
        color: var(--accent);
        text-shadow: 0 1px 1px var(--accent-bottom), 0 -1px 1px var(--accent-top);
        /* box-shadow: 0 1px 1px light-dark(var(--cyan-7), var(--cyan-11)), inset 0 1px 1px light-dark(var(--cyan-3), var(--cyan-6)); */
      }

      &:focus-within {
        color: var(--accent);
      }
    }

    .anchor {
      position: relative;
      width: .6em;
      translate: 0.25rem 0.05em;
      display: inline-block;
      aspect-ratio: 1;
      rotate: calc(var(--degree) * -1);
    }
  }
}
