
:where(.wheel) {
  --step: calc(76deg / var(--count));
  --offset: calc((var(--count) - 1) / 2);
  --degree: 0deg;
  --bg: var(--surface-1);
  --bg-opacity: color-mix(in srgb, var(--bg), transparent 10%);
  --move-x: min(35vw, 35vh);

  position: absolute;
  z-index: 0;
  inset: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  h2 {
    pointer-events: none;
    width: max-content;
    font-size: var(--font-1);
    color: light-dark(var(--stone-0), var(--stone-12));
    font-weight: 700;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
    transition: opacity .2s var(--ease-out-5);
  }

  .wheel-item {
    position: absolute;
    z-index: 2;
    right: 0;
    padding-inline-end: min(50vw, 50vh);
    transform-origin: right center;
    white-space: nowrap;
    transform: translate(var(--move-x), 0) rotate(var(--degree));
    opacity: 0;
    transition: transform 1s var(--ease-spring-3), opacity .25s var(--ease-1);
    display: flex;
    align-items: baseline;
    font-size: var(--font-2);

    & button {
      --line-width: 1px;
      --xy: calc(var(--line-width) * 2);
      --stroke-color: light-dark(var(--stone-8), var(--stone-6));
      --fill-color: color-mix(in srgb, var(--surface-1), transparent 90%);
      font-weight: 700;
      color: var(--text-2);

      transform-origin: right center;
      transition: transform 1s var(--ease-spring-3);

      @media (min-width: 992px) {
        --line-width: 2px;
      }

      & > span {
        display: inline-block;
        width: .55em;
        text-align: center;
      }

      &:is(:hover,:focus-visible) {
        transform: scale(1.2);
        color: var(--accent);
        text-shadow: 0 1px 1px var(--accent-bottom), 0 -1px 1px var(--accent-top);
      }

      /* &:focus-within {
        color: var(--accent);
      } */
    }

    .anchor {
      position: relative;
      width: .6em;
      translate: 0.25rem 0.05em;
      display: inline-block;
      aspect-ratio: 1;
      rotate: calc(var(--degree) * -1);
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  :where(.wheel-item) {
    &:has(button:hover) {
      .anchor {
        anchor-name: --navigation;
      }
    }
  }
}

:where(dialog.navigations[open]) {
  h2 {
    opacity: 1;
    transition: opacity .5s var(--ease-in-1);

    @starting-style {
      opacity: 0;
    }
  }

  .wheel-item {
    opacity: 1;
    --degree: calc(((var(--index) - 1) - var(--offset)) * var(--step) * -1);

    @starting-style {
      transform: translate(var(--move-x), 0) rotate(0deg);
      opacity: 0;
    }
  }
}
