
:where(.wheel) {
  --step: calc(76deg / var(--count));
  --offset: calc((var(--count) - 1) / 2);
  --degree: 0deg;
  --bg: var(--surface-1);
  --bg-opacity: color-mix(in srgb, var(--bg), transparent 10%);
  --move-x: min(35vw, 35vh);

  position: absolute;
  z-index: 0;
  inset: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  counter-reset: project-list-counter;

  @media (orientation: portrait) {
    --step: calc(90deg / var(--count));
  }

  .wheel-item {
    counter-increment: project-list-counter;
    position: absolute;
    z-index: 2;
    right: 0;
    padding-inline-end: min(55vw, 52vh);
    transform-origin: right center;
    white-space: nowrap;
    transform: translate(var(--move-x), 0) rotate(var(--degree));
    opacity: 0;
    transition: transform 1s var(--ease-spring-3), opacity .25s var(--ease-1);
    display: flex;
    align-items: baseline;
    font-size: var(--font-3);

    will-change: transform;

    /* outline: 1px dotted hotpink; */

    &:first-child {
      & button::before {
        letter-spacing: 0.05em;
      }
    }

    & button {
      font-weight: 700;
      color: var(--text-color);
      display: block;
      position: relative;

      transform-origin: right center;
      transition: transform 1s var(--ease-spring-3);

      &::before {
        content: counter(project-list-counter, decimal-leading-zero);
      }

      &::after {
        content: attr(data-title);
        display: none;
        position: absolute;
        white-space: nowrap;
        left: 0;
        top: 50%;
        translate: calc(-100% - 1rem) -50%;
        color: var(--text-muted);
        font-size: 0.5em;
      }

      border-radius: 20px;
      @supports(corner-shape: squircle) {
        border-radius: 40px;
        corner-shape: squircle;
      }

      &:is(:hover,:focus-visible) {
        color: var(--accent-color);
      }

      &:is(:focus-visible) {
        outline: 2px solid var(--accent-color);
        outline-offset: 2px;
        animation: AnimateOutline4 .2s var(--ease-3);
      }

      @media (min-width: 48rem) {
        &:is(:hover,:focus-visible) {
          transform: scale(1.2);
        }
      }
    }

    .anchor {
      position: relative;
      width: .7em;
      translate: 0.25rem 0.05em;
      display: inline-block;
      aspect-ratio: 1;
      rotate: calc(var(--degree) * -1);
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  :where(.wheel) {
    .wheel-item {
      &:has(button:hover) {
        @supports (corner-shape: squircle) {
          .anchor {
            anchor-name: --navigation;
          }
        }
      }

      & button {
        &:is(:hover) {
          &::before {
            text-shadow:
              0 1px var(--accent-border),
              0 -1px var(--accent-border),
              1px 0 var(--accent-border),
              -1px 0 var(--accent-border),
              var(--text-shadow)
            ;
          }
          &::after {
            display: block;
            text-shadow: none;
          }
        }
      }
    }
  }
}

:where(dialog.navigations) {
  &[open] {
    .wheel-item {
      opacity: 1;
      --degree: calc(((var(--index) - 1) - var(--offset)) * var(--step) * -1);

      @starting-style {
        transform: translate(var(--move-x), 0) rotate(0deg);
        opacity: 0;
      }
    }
  }

  &[data-closing] {
    .wheel-item {
      opacity: 0;
      --degree: 0deg;
    }
  }
}
