@layer base, utils, component, page;

@import url("open-props/easings") layer(base);
@import url("./styles/theme.css") layer(base);
@import url("./styles/sizes.css") layer(base);
@import url("./styles/effect.css") layer(base);

@import url("./styles/keyframes.css") layer(utils);
@import url("./styles/utils.css") layer(utils);

@import url("./styles/header.css") layer(component);
@import url("./styles/main.css") layer(component);
@import url("./styles/footer.css") layer(component);
@import url("./styles/buttons.css") layer(component);
@import url("./styles/popover.css") layer(component);
@import url("./styles/dialog.css") layer(component);
@import url("./styles/circle.css") layer(component);
@import url("./styles/message.css") layer(component);
@import url("./styles/wheel.css") layer(component);
@import url("./styles/project.css") layer(component);

:root {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
}

:where(html) {
  margin: 0;
  padding: 0;
  color-scheme: light dark;
}

:where(*, *::before, *::after) {
  box-sizing: border-box;
}